<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    Le Bibliothécaire
  </title>

  @vite(['resources/css/app.css'])
  @stack('dumper')
</head>

<body class="min-h-screen max-w-screen overflow-x-hidden pb-16 flex flex-col items-center justify-center">
  @error('E_AUTHENTICATION_FAILURE')
  <div role="alert" class="alert alert-error alert-soft">
    @svg('heroicons:x-circle', { class: 'size-6' })
    <span>{{ $message }}</span>
  </div>
  @end
  <h1 class="text-2xl font-bold mt-8">
    Le Bibliothécaire
  </h1>
  <h2>
    Bienvenue dans l'espace de gestion
  </h2>
  <div class="py-8">
    <a href="/login" class="btn bg-[#5865F2] text-white">
      <span class="mr-2">
        @!component('components/discord_icon')
      </span>
      Connexion via Discord
    </a>
  </div>
</body>

</html>
