@layout.main()
@slot('main')
<div class="flex flex-col items-center gap-4 p-4 max-w-4xl w-full self-center grow **:data-[edit-mode]:hidden"
  data-toggle-container="edit-mode">
  @!component('components/guild_header', { guild: guild })

</div>
@endslot
@end
